@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=PT+Sans");
body {
    font-family: 'PT Sans', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Ubuntu'; */
    font-family: 'PT serif', sans-serif; 
    font-weight: 600;
}

p {
    font-family: 'PT Sans', sans-serif; 
    font-size: 1.1rem;
    line-height: 1.7rem;
}